NEXT_PUBLIC_SUPABASE_URL=https://limyztrmsuapqaucpmdm.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SITE_URL=https://issr-calcul.vercel.app

# Synchronisation automatique des barèmes officiels Légifrance / PISTE
PISTE_CLIENT_ID=
PISTE_CLIENT_SECRET=
SUPABASE_SECRET_KEY=
CRON_SECRET=
